<h1>Contactez-nous</h1>

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <p>Si vraiment vous tenez à m'envoyer un million de dollars américains, vous pouvez me contacter (ahah j’ai écrit « nous » mais c’est pour faire bonne impression).</p>
      <p><%= link_to "fake@fake.com", contact_path %></p>
    </div>
  </div>
</div>
