<h1>L’équipe Gossip Project</h1>

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <p>Il n’y a que Romain, mais c'est porteur, on vous le promet ! N'hésitez pas à <%= link_to 'm’envoyer un message', contact_path %> pour qu’on fasse du webshit ensemble. Y’a pas à dire, on s’amuse ici.</p>

    </div>
  </div>
</div>
