/*
 *= require_tree .
 *= require_self
 */
nav.navbar {
  margin-bottom: 48pt;
}

h1 {
  margin-bottom: 1em;
}

p a,
dd a {
  color: #000000;
  font-weight: bold;
}

.list-group a {
  color: #000000;
  text-decoration: none;
  font-weight: normal;
}
